qingstor:
    access_key_id: access_key_id_example
    secret_access_key: secret_access_key_example
    host: qingstor.com
    port: 443
    protocol: https
    log_level: error
listen_host: 127.0.0.1
listen_port: 2121
max_connections: 128
bucket_name: bucket_name_example
zone: pek3a
users:
    username_example: password_example
